/* Resetting css to custom modifications */
*,
*::before,
*::after {
box-sizing: border-box;
}
a{
  text-decoration: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
  padding: 0.25rem;
}

button{
  outline: none;
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Add the following to html file for the font family */
/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet"> 
*/


body{
  padding: 0;
  margin: 0;
  font-family: 'Habibi', sans-serif;
}

:root{
  /* custom palette and properties */

  /* color palette */
  --clr-text-white-100: #FFFFFFFF;
  --clr-text-white-200: #F4F4F4FF;
  --clr-text-white-300: #DCDCDCFF;
  --clr-text-gray-100: #A4A4A4FF;
  --clr-text-gray-200: #979797FF;
  --clr-text-black-200: #1D1D1DFF;
  --clr-text-black-300: #565656FF;
  --clr-text-accent-blue: #7895FBFF;

  --clr-bg-white-100: #FFFFFFFF;
  --clr-bg-white-200: #DEDEDEFF;
  --clr-bg-gray-100: #4A4A4AFF;
  --clr-bg-gray-200: #6C6C6CFF;
  --clr-bg-accent-brown: #433932FF;
  --clr-bg-footer: #01020EFF;

  --clr-bg-trn-gray-100: #d9d9d938;
  --clr-bg-trn-black-200: #00000099;
  --clr-bg-trn-black-300: #00000066;
  --clr-bg-trn-black-400: #1A1A1A66;
  --clr-bg-trn-black-500: #28282873;

  --clr-shd-black-100: #000000BF;
  --clr-shd-black-200: #00000040;
  --clr-shd-white-100: #FFFFFF80;
  --clr-shd-accent-gold: #FFDCC3FF;
  --clr-shd-trn-accent-gold: #FCB47F80;

  --clr-brd-gray: #4A4A4AFF;

  /* text sizing */
  --fs-100: 0.5rem;
  --fs-200: 1rem;
  --fs-300: 1.5rem;
  --fs-400: 2rem;
  --fs-500: 2.5rem;
  --fs-600: 4rem;
  --fs-nav: var(--fs-300);

  /* borders */
  --brd-100: 0.25rem;

  /* border radii */
  --brd-rad-100: 0.75rem;
  --brd-rad-200: 0.5rem;
  --brd-rad-300: 2rem;
  --brd-rad-400: 9rem;


  /* blurs */
  --blr-100: 12px;
  --blr-200: 16px;
  --blr-300: 24px;
  --blr-400: 50px;
  --blr-500: 120px;

  /* paddings */
  --pd-100: 0.125rem;
  --pd-200: 0.25rem;
  --pd-300: 0.75rem;
  
  /* inline paddings */
  --pd-inl-100: 0.25rem;
  --pd-inl-200: 0.5rem;
  --pd-inl-300: 0.75rem;

  /* block paddings */
  --pd-blk-100: 0.25rem;
  --pd-blk-200: 0.5rem;
  --pd-blk-300: 0.75rem;
}

/* Decorator Classes */

/* color pallette */
.text-accent-blue{
  color: var(--clr-text-accent-blue);
}
.text-white-100{
  color: var(--clr-text-white-100);
}
.text-white-200{
  color: var(--clr-text-white-200);
}
.text-white-300{
  color: var(--clr-text-white-300);
}
.text-black-200{
  color: var(--clr-text-black-200);
}
.text-black-300{
  color: var(--clr-text-black-300);
}
.text-gray-100{
  color: var(--clr-text-gray-100);
}
.text-gray-200{
  color: var(--clr-text-gray-200);
}
.bg-accent-brown{
  background: var(--clr-bg-accent-brown);
}
.bg-white-100{
  background: var(--clr-bg-white-100);
}
.bg-white-200{
  background: var(--clr-bg-white-200);
}
.bg-gray-100{
  background: var(--clr-bg-gray-100);
}
.bg-gray-200{
  background: var(--clr-bg-gray-200);
}
.bg-trn-gray-100{
  background: var(--clr-bg-trn-gray-100);
}
.bg-trn-black-200{
  background: var(--clr-bg-trn-black-200);
}
.bg-trn-black-300{
  background: var(--clr-bg-trn-black-300);
}
.bg-trn-black-400{
  background: var(--clr-bg-trn-black-400);
}
.bg-trn-black-500{
  background: var(--clr-bg-trn-black-500);
}

/* font size */
.fs-100{
  font-size: var(--fs-100);
}
.fs-200{
  font-size: var(--fs-200);
}
.fs-300{
  font-size: var(--fs-300);
}
.fs-400{
  font-size: var(--fs-400);
}
.fs-500{
  font-size: var(--fs-500);
}
.fs-600{
  font-size: var(--fs-600);
}

/* blur classes */
.blr-100{
  -webkit-backdrop-filter: blur(var(--blr-100));
  backdrop-filter: blur(var(--blr-100));
}
.blr-200{
  -webkit-backdrop-filter: blur(var(--blr-200));
  backdrop-filter: blur(var(--blr-200));
}
.blr-300{
  -webkit-backdrop-filter: blur(var(--blr-300));
  backdrop-filter: blur(var(--blr-300));
}
.blr-400{
  -webkit-backdrop-filter: blur(var(--blr-400));
  backdrop-filter: blur(var(--blr-400));
}
.blr-500{
  -webkit-backdrop-filter: blur(var(--blr-500));
  backdrop-filter: blur(var(--blr-500));
}

/* border radius */
.brd-rad-100{
  border-radius: var(--brd-rad-100);
}
.brd-rad-200{
  border-radius: var(--brd-rad-200);
}
.brd-rad-300{
  border-radius: var(--brd-rad-300);
}
.brd-rad-400{
  border-radius: var(--brd-rad-400);
}

/* padding */
.pd-100{
  padding: var(--pd-100);
}
.pd-200{
  padding: var(--pd-200);
}
.pd-300{
  padding: var(--pd-300);
}
.pd-inl-100{
  padding-inline: var(--pd-inl-100);
}
.pd-inl-200{
  padding-inline: var(--pd-inl-200);
}
.pd-inl-300{
  padding-inline: var(--pd-inl-300);
}
.pd-blk-100{
  padding-block: var(--pd-blk-100);
}
.pd-blk-200{
  padding-block: var(--pd-blk-200);
}
.pd-blk-300{
  padding-block: var(--pd-blk-300);
}

/* display structures */
.fx-row{
  display: flex;
  flex-direction: row;
}
.fx-col{
  display: flex;
  flex-direction: column;
}
.fx-space-between{
  display: flex;
  justify-content: space-between;
}
.fx-space-evenly{
  display: flex;
  justify-content: space-evenly;
}
.fx-centre{
  display: flex;
  align-items: center;
  justify-content: center;
}