<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Habibi&display=swap"
      rel="stylesheet"
    />
    <title>Gotham Regency Inn</title>
  </head>
  <body class="bg-image">
    <main>
      <div class="fx-centre | fx-col">
        <h1 class="text-white-100 | fs-500">Welcome back!!</h1>
        <p class="fs-200 | text-gray-100">Let's get logged in</p>
      </div>
      <section></section>
      <div class="fx-centre | fx-col">
        <h2>Continue with</h2>
        <div>
          <span>Google logo</span>
          <span>Apple logo</span>
          <span>Meta logo</span>
          <span>Twitter logo</span>
        </div>
        <div class="fx-centre | fx-col">
          <p>Don't have an account?</p>
          <a href="#">Sign Up</a>
        </div>
        <section></section>
        <div class="fx-centre | fx-col">
          <form action="Login">
            <span class="fx-col">
              <label for="user-email">Email/Username</label>
              <input
                type="email"
                name="user-email"
                placeholder="someone@email.com"
                class="brd-rad-200 | bg-gray-100"
              />
            </span>
            <span class="fx-col">
              <label for="user-password">Password</label>
              <input
                type="password"
                name="user-password"
                placeholder="●●●●●●●●"
                class="brd-rad-200 | bg-gray-100"
              />
            </span>
            <span class="fx-col">
              <label for="user-credkey">Credentials Key</label>
              <input 
                type="text" 
                name="user-credkey" 
                placeholder="xJ129ouB"
                class="brd-rad-200 | bg-gray-100"
              />
            </span>
            <span>
              <button class="pd-inl-400 | pd-blk-100">Login</button>
            </span>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
